@font-face {
    font-family: roboto;
    src: url(../font/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(../font/Roboto/Roboto-Bold.ttf);
}

body {
    background-color: #E6E6E6;
    font-family: roboto;
}

em{
    text-transform: lowercase;
}

.container-header {
    display: flex;
    border-bottom: solid black 2px;
    
}

/* ---HEADER-LEFT--- */
.container-header__left{
    width: 35%;
    margin-left: 12rem;
}

.container-header__logo {
    max-width: 3rem;
    margin: 3rem 0 5rem 0;
}

.container-header__hello {
    font-size: 1.8rem;
    margin-bottom: 2.2rem;
    margin-top: 10rem;
}

.container-header__name {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}
.container-header__profession {
    font-size: 1rem;
    font-weight: 600;
    color: #909090;
    margin-bottom: 0.8rem;
}

.container-header__icone{
    background-color: #C4C4C4;
    max-width: 3rem;
    padding: 0.5rem;
    margin: 5rem 1rem 12rem 0;
    border-radius: 5px;
    box-shadow: 0 0.2rem 0 #A2A2A2;
}

/* ---HEADER-RIGHT--- */

.container-header__right{
    width: 65%;
    height: 70%;    
    background-color: black;
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
}


#picture-victor{
    max-width: 30rem;
    margin-left: 20rem;
}

.container-header__list{
    display: flex;
    flex-wrap: wrap;  
    justify-content: flex-end;
    margin: 2rem 5rem 2rem 2rem;
}

.container-header__link{
    font-size: 1.2rem;
    color: white;
    margin-right: 2rem;
    padding: 0.7rem 1.2rem;
    border-radius: 2rem;
    text-decoration: none;
    transition-duration: 0.5s;
}

.container-header__link:hover{
    background-color: white;
    color: black;
}

/* ---MAIN--- */

/* ----ABOUT ME---- */

.container-main__presentation{
    display: flex;
    flex-direction: column;
}

.container-main__title{
    margin: 2rem auto;
    padding: 1.5rem 4rem;
    white-space : nowrap;
    border: solid 6px black;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3rem; 
    background-color: #E6E6E6;
}

.container-main__first-paragraph{
    text-align: center;
    max-width: 50%;
    margin: 3rem auto;
}

.container-main__button{
    display: inline-block;
    margin: 1rem 44.5%;
    padding: 0.5rem 2rem;
    border: none;
    background-color: #E6E6E6;
    font-family: roboto;
    font-size: 1rem;
    text-transform: uppercase;
    white-space : nowrap;
    border-left: solid 2px black;
    border-right: solid 2px black;
    transition-duration: 0.5s;
}

.container-main__button:hover{
    background-color: black;
    color: white;
    border: none;
}

.container-main__resume-skills{
    display: flex;
    justify-content: center;  
    max-width: 80%;
    margin: 2rem 15rem;
}

.container-main__resume-skills__design{
    position: relative;
    width: 50%;    
}

.container-main__resume-skills__development{
    position: relative;
    width: 50%;    
}

.container-main__resume-skills__subtitle{
    position: absolute;
    top: 15%;
    left: 5%;
    font-weight: bold;
    text-transform: uppercase;   
    letter-spacing: 0.3rem; 
}

.container-main__resume-skills__paragraph{
    margin-top: 2rem;
    padding: 0 3rem;
}

.container-main__resume-skills__icone{
    max-width: 3rem;
}

/* ----SKILLS---- */

.container-main__skills{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    margin-bottom: 10rem;
}

.container-main__title__h3{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3rem; 
    margin: 2rem 0 2rem 26rem;
}

.container-main__skills__logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 70%;
    margin: auto;
}

.container-main__software-logo{
    padding: 2rem;
    text-align: center;
    margin: 2rem 5rem;
}

.container-main__logo-software{
    width: 6rem;
    height: 6rem;    
}

.container-main__title__h4{
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 1.5rem;
}

.container-main__portfolio{
    display: flex;  
    padding: 7rem;
    position: relative;
    background-size: cover;    
    /* background-position: center; */
    background-image: url(../img/Image\ de\ fond\ nature\ japonaise.jpeg);
    /* filter: opacity(50%); */
}




