@font-face {
    font-family: roboto;
    src: url(../font/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(../font/Roboto/Roboto-Bold.ttf);
}

body {
    background-color: #D7D7D7;
    font-family: roboto;
}

.container-header {
    display: flex;
}

/* ---HEADER-LEFT--- */
.container-header__left{
    width: 30%;
    margin-left: 12rem;
}

.container-header__logo {
    max-width: 3rem;
    margin: 3rem 0 5rem 0;
}

.container-header__hello {
    font-size: 1.8rem;
    margin-bottom: 2.2rem;
}

.container-header__name {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}
.container-header__profession {
    font-size: 1rem;
    font-weight: 600;
    color: #909090;
    margin-bottom: 0.8rem;
}

.container-header__icone{
    background-color: #C4C4C4;
    max-width: 2rem;
    padding: 0.5rem;
    margin: 5rem 1rem 12rem 0;
    border-radius: 5px;
    box-shadow: 0 0.2rem 0 #A2A2A2;
}

/* ---HEADER-RIGHT--- */

.container-header__right{
    width: 60%;
    height: 70%;    
    background-color: black;
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
}


#picture-victor{
    max-width: 30rem;
    margin-left: 20rem;
}

.container-header__list{
    display: flex;
    flex-wrap: wrap;  
    justify-content: flex-end;
    margin: 2rem 5rem 2rem 2rem;
}

.container-header__link{
    font-size: 1.2rem;
    color: white;
    margin-right: 2rem;
    padding: 0.7rem 1.2rem;
    border-radius: 2rem;
    text-decoration: none;
    transition-duration: 0.5s;
}

.container-header__link:hover{
    background-color: white;
    color: black;
}